/* css styles */

/* Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* article preview image*/
.thumnail-image{
  width: 200px !important;
  margin: auto;
}

/* article category badge*/

.quarto-post .listing-categories .listing-category {
  text-transform: capitalize !important;
  font-size: 0.9em !important;
  padding: 0.15em 0.5em 0.15em 0.5em !important;
}

/* R */
.listing-category[onclick^="window.quartoListingCategory('R'); return false;"]{
  background: #75aadb !important;
  color: white !important;
}

/* Shiny */
.listing-category[onclick^="window.quartoListingCategory('shiny'); return false;"] {
  background: #007bc2 !important;
  color: white !important;
}

/* Quarto */
.listing-category[onclick^="window.quartoListingCategory('quarto'); return false;"] {
  background: #82a9d8 !important;
  color: white !important;
}

/* Lecture */
.listing-category[onclick^="window.quartoListingCategory('lecture'); return false;"] {
  background: #499d73 !important;
  color: white !important;
}

/* nav bar icon*/
.bi-rss{
  color: orange;
}
.bi-github, .bi-linkedin{
  color: white;
}

main, p{
  font-size: 0.8rem !important;
}

.navbar{
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
}

#quarto-margin-sidebar{
  top: 110px !important;
  max-height: fit-content !important;
}

#title-block-header {
  margin-top: 0px;
}

h3 {
  font-weight: 600;
}

.navbar-dark{
  font-size: 14px;
}

.margin-sidebar {
  padding-top: 4em;
}

.quarto-listing-category{
  font-size: 0.8rem;
  line-height: 2em;
  font-family: 'Roboto', sans-serif !important;
}

.margin-header-item{
  margin: 0.3em;
  font-family: sans-serif, Monospace ;
  font-size: 0.8rem;
}

input, button, select, optgroup, textarea{
  margin: 0.3em;
}
  
/* right-sidebar CATEGORY WORD */
.quarto-listing-category-title{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
  text-align: center;
}

/* right sidebar Catetory items*/
.quarto-listing-category .category{
    text-transform: capitalize ;
}

.sidebar.toc-left, .sidebar.margin-sidebar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
